<header>
  <div id="mySidenav" class="sidenav">
    
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <a href="#" (click)="display('Electronics')">Laptops</a>
    <a href="#" (click)="display('Lifestyle')">Lifestyle</a>
    <a href="#" (click)="display('MusicalInstruments')">Musical Instruments</a>
    <a href="#" (click)="display('Sports')">Sports</a>
    <a href="#" (click)="display('Furniture')">Furniture</a>    
    <a href="#" (click)="display('Fruits')">Fruits</a>
    <a href="#" (click)="display('Vegetables')">Vegetables</a>
    <a href="#" (click)="display('MobilesAcessories')">Mobiles Acessories</a>
    <a href="#" (click)="display('LaptopsAcessories')">Laptops Acessories</a>
    <a href="#" (click)="display('Tablets')">Tablets</a>

    <hr>
    <a href="#">About Us</a>
  </div>
  <span style="font-size:30px;cursor:pointer" class="menuoption" (click)="openNav()">&#9776;</span>
  MobileCart
  <input type="search" class="search" placeholder="Search for products">
</header>
