<header>
  <div id="mySidenav" class="sidenav">
    
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>

    <a href="#" (click)="showlaptops()">Laptops</a>
    <a href="#" (click)="showfruits()">Fruits</a>
    <a href="#" (click)="showvegetables()">Vegetables</a>
    <a href="#" (click)="showpulses()">Pulses</a>
    <a href="#" (click)="getAll()">All</a>

    <hr>
    <a href="#">About Us</a>
  </div>
  <span style="font-size:30px;cursor:pointer" class="menuoption" (click)="openNav()">&#9776;</span>
  MobileCart
  <input type="search" class="search" placeholder="Search for products">
</header>
<table>
  <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let element of allData">   
          <td>{{element.name}}</td> 
          <td>{{element.price}}</td>
      </tr>
  </tbody>
  <tfoot>
      <td>Total</td>
      <td></td>
  </tfoot>
</table>